## <summary>least privledge terminal user role</summary>

########################################
## <summary>
##	Change to the protected role.
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`protected_role_change',`
	gen_require(`
		role protected_r;
	')

	allow $1 protected_r;
')

########################################
## <summary>
##	Change from the protected role.
## </summary>
## <desc>
##	<p>
##	Change from the protected role to
##	the specified role.
##	</p>
##	<p>
##	This is an interface to support third party modules
##	and its use is not allowed in upstream reference
##	policy.
##	</p>
## </desc>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`protected_role_change_to',`
	gen_require(`
		role protected_r;
	')

	allow protected_r $1;
')
