policy_module(puppy, 1.1.1)

########################################
#
# Declarations
#

role puppy_r;

userdom_restricted_user_template(puppy)

########################################
#
# Local policy
#

gen_user(puppy_u,, puppy_r, s0, s0)
