# SELinux policy module for database password reader program.
policy_module(database, 1.0.0)

########################################
# Declarations

type database_t;            # The database password domain.
type database_exec_t;       # The database password program.
type database_conf_t;       # The database password file type.

# Allow the execution of the Node.js database reader program.
puppy_node_exec(database_t)
application_domain(database_t, database_exec_t)
allow database_t database_exec_t:lnk_file read;

# All read of the database configuration file type.
files_type(database_conf_t)
read_files_pattern(database_t, database_conf_t, database_conf_t)
userdom_list_user_home_dirs(database_t)

# Allow read and write stdio.
allow database_t self:fifo_file rw_fifo_file_perms;
