# SELinux policy module for message dispatching.
policy_module(delegate, 1.0.0)

require {
    type database_t, database_exec_t;
}

type delegate_t;                # The delegate domain.

role system_r types delegate_t;


# Run Node.js.
puppy_node_exec(delegate_t)

# Execute the puppy binary files.
puppy_exec_puppy_bin(delegate_t)

# Query MySQL.
puppy_mysql(delegate_t)

# Allow read and write of stdio.
allow delegate_t self:fifo_file rw_fifo_file_perms;

# Allow sending of syslog messages.
logging_send_syslog_msg(delegate_t)

# Allow the database utility to write to distpatcher stdio.
allow database_t delegate_t:fifo_file rw_fifo_file_perms;

hostname_exec(delegate_t)

puppy_sudo(delegate)

domtrans_pattern(delegate_sudo_t, database_exec_t, database_t)
