## <summary></summary>

########################################
### <summary>
###  Create a domain transition from the sudo domain type of one type domain to
###  a generated delegate type domain.
### </summary>
### <param name="from">
###  <summary>
###  The domain type to transition from.
###  </summary>
### </param>
### <param name="prefix">
###  <summary>
###  The prefix to be used for deriving type names.
###  </summary>
### </param>
##
#
template(`puppy_sudo_delegate', `
    gen_require(`
        type $2_delegate_t, $2_exec_t;
    ')
    allow $2_delegate_t $2_exec_t:lnk_file read;
    application_domain($2_delegate_t, $2_exec_t)
    domtrans_pattern($1_sudo_t, $2_exec_t, $2_delegate_t)
')

########################################
### <summary>
###  Create a set of dervied types for a program that will sudo to the delegate
###  user.
### </summary>
### <param name="role">
###  <summary>
###  The role that will invoke the program as the delegate user.
###  </summary>
### </param>
### <param name="prefix">
###  <summary>
###  The prefix to be used for deriving type names.
###  </summary>
### </param>
##
#
template(`puppy_delegate', `
    # The delegate domain.
    type $1_delegate_t;
    type $1_exec_t;

    # Run Node.js.
    puppy_node_exec($1_delegate_t)

    # Execute the puppy binary files.
    puppy_exec_puppy_bin($1_delegate_t)

    # Allow read and write of stdio.
    allow $1_delegate_t self:fifo_file rw_fifo_file_perms;

    # Allow sending of syslog messages.
    logging_send_syslog_msg($1_delegate_t)

    puppy_sudo($1_delegate)

    # For stderr reporting delegates.
    allow $1_delegate_t $1_exec_t:file execute_no_trans;
    allow $1_delegate_t $1_exec_t:lnk_file  read_lnk_file_perms;
')

template(`puppy_delegate_role',`
    gen_require(`
        type $3_delegate_sudo_t, $3_delegate_t, $2_t;
    ')

    # Allow the role to assume the generated domain types.
    role $1_r types $3_delegate_t;
    role $1_r types $3_delegate_sudo_t;

    allow $3_delegate_t $2_t:fifo_file rw_fifo_file_perms;
')

# Allow a delegate program to read the database password.
template(`puppy_delegate_database',`
    gen_require(`
        type database_t, database_exec_t, $1_delegate_sudo_t;
    ')
    # Allow the database utility to write to distpatcher stdio.
    allow database_t $1_delegate_t:fifo_file rw_fifo_file_perms;

    # Query MySQL.
    puppy_mysql($1_delegate_t)

    domtrans_pattern($1_delegate_sudo_t, database_exec_t, database_t)
')

########################################
### <summary>
###  Allow a delegate program to write to the console.
### </summary>
### <param name="prefix">
###  <summary>
###  The prefix to be used for deriving type names.
###  </summary>
### </param>
##
#
template(`puppy_delegate_console',`
    gen_require(`
        type $1_delegate_t;
    ')
    userdom_use_user_ptys($1_delegate_t)
')

########################################
### <summary>
###  Allow a delegate program to obtain the hostname.
### </summary>
### <param name="prefix">
###  <summary>
###  The prefix to be used for deriving type names.
###  </summary>
### </param>
##
#
template(`puppy_delegate_hostname',`
    gen_require(`
        type $1_delegate_t;
    ')
    hostname_exec($1_delegate_t)
')
