policy_module(enqueue,1.0.0)

require {
    type worker_spool_t, worker_job_exec_t, worker_job_t;
}

########################################
#
# Declarations
#
role enqueue_r;             # The enqueue role.
type enqueue_agent_t;       # Sends requests to remote machines via ssh.
type enqueue_proxy_t;       # Accepts ssh requests to enqueue.
type enqueue_exec_t;        # The enqueue program types.

type enqueue_key_t;
type enqueue_secret_t;

# This will create basic roll and the enqueue_t. 
puppy_restricted_user_template(enqueue)
role enqueue_r types enqueue_proxy_t;
role enqueue_r types worker_job_t;

domtrans_pattern(enqueue_t, enqueue_exec_t, enqueue_proxy_t)
application_domain(enqueue_proxy_t, enqueue_exec_t)
allow enqueue_t enqueue_exec_t:lnk_file read;
allow enqueue_proxy_t enqueue_exec_t:lnk_file read;

# Enqueue agent policy.
puppy_node_exec(enqueue_proxy_t)

allow enqueue_proxy_t self:fifo_file rw_fifo_file_perms;

logging_send_syslog_msg(enqueue_proxy_t)

# The proxy domain type can sudo to add the job.
sudo_role_template(enqueue, enqueue_r, enqueue_proxy_t)
domtrans_pattern(enqueue_sudo_t, worker_job_exec_t, worker_job_t)
allow worker_job_t enqueue_proxy_t:fifo_file rw_fifo_file_perms;

# Log succssful message enqueue.
logging_send_syslog_msg(worker_job_t)

#### OLDER ####
# Fixing this stuff down here....
allow enqueue_agent_t worker_spool_t:dir rw_dir_perms;
allow enqueue_agent_t worker_spool_t:file manage_file_perms;

# Allow logging.
logging_send_syslog_msg(enqueue_agent_t)

files_search_spool(enqueue_agent_t)
allow enqueue_agent_t var_spool_t:dir search;

# The ssh key types.
files_type(enqueue_key_t)
files_type(enqueue_secret_t)

gen_user(enqueue_u,, enqueue_r, s0, s0)
