# Policy module for private utilities.
policy_module(private,1.0.0)

require {
    type puppy_t;
    type delegate_t;
}

type private_exec_t;

application_domain(delegate_t, private_exec_t)
allow delegate_t private_exec_t:lnk_file read;

#puppyish(private)

##
############################################################################
### Policy for `db_password`.
############################################################################

puppy_delegate(db_password)
puppy_delegate_database(db_password)

############################################################################
### Policy for `app_users`.
############################################################################

puppy_delegate(app_users)
puppy_delegate_database(app_users)
