# Policy module for private utilities.
#
# REMEMER: You can't use exec type, _exec_t,  in the file contexts until you
# declare a domain_trans_pattern or application_domain somewhere else in the
# policy with the exec type.
policy_module(private,1.0.0)

require {
    type puppy_t;
    type delegate_t;
}

type private_exec_t;
type private_public_t;
type private_public_exec_t;

application_domain(private_public_t, private_public_exec_t)
puppy_sudo(private_public)

application_domain(delegate_t, private_exec_t)
allow delegate_t private_exec_t:lnk_file read;

#puppyish(private)

############################################################################
### Policy for `account_apps`.
############################################################################

puppy_private(account_apps)
puppy_private_database(account_apps)
puppy_private_hostname(account_apps)

############################################################################
### Policy for `db_password`.
############################################################################

puppy_delegate(db_password)
puppy_delegate_database(db_password)

############################################################################
### Policy for `account_ready`.
############################################################################

puppy_delegate(private_account_ready)
puppy_delegate_database(private_account_ready)

############################################################################
### Policy for `app_users`.
############################################################################

puppy_delegate(app_users)
puppy_delegate_database(app_users)

############################################################################
### Policy for `node_ready`.
############################################################################

puppy_delegate(private_node_ready)
puppy_delegate_database(private_node_ready)

############################################################################
### Policy for `config_app`.
############################################################################

puppy_delegate(config_app)
puppy_delegate_database(config_app)
puppy_delegate_hostname(config_app)

############################################################################
### Policy for `config_mysql`.
############################################################################

puppy_delegate(config_mysql)
puppy_delegate_database(config_mysql)
puppy_delegate_hostname(config_mysql)

############################################################################
### Policy for `queue_config`.
############################################################################

puppy_delegate(queue_config)
puppy_delegate_database(queue_config)

############################################################################
### Policy for `user_activation`.
############################################################################

puppy_delegate(user_activation)
puppy_delegate_database(user_activation)

############################################################################
### Policy for `user_keys`.
############################################################################

puppy_delegate(user_keys)
puppy_delegate_database(user_keys)
