# Policy module for the protected interface.
policy_module(protected, 1.0.0)

role protected_r;
role protected_r types protected_sudo_t;
puppy_delegate_roles(protected_r)

type protected_exec_t;

userdom_unpriv_user_template(protected)

application_domain(protected_t, protected_exec_t)
allow protected_t protected_exec_t:lnk_file read;
allow protected_t puppy_lib_t:dir list_dir_perms;
allow protected_t puppy_lib_t:file read_file_perms;
allow protected_t puppy_lib_t:lnk_file read;

puppy_sudo(protected)

attribute puppy_daemon_log_type;
attribute puppy_daemon_exec_type;

allow protected_t protected_exec_t:lnk_file read_lnk_file_perms;

# The proxy needs to read Puppy executables.
puppy_read_puppy_bin(protected_t)


############################################################################
### Policy for `account_protected`.
############################################################################

protected_program(account_activated)

############################################################################
### Policy for `app_deploy`.
############################################################################

puppy_sudo_delegate(protected, app_deploy)
puppy_delegate(app_deploy)
puppy_delegate_role(protected, protected, app_deploy)
puppy_delegate_database(app_deploy)
puppy_delegate_hostname(app_deploy)
puppy_delegate_console(app_deploy)

############################################################################
### Policy for `app_fetch`.
############################################################################

puppy_sudo_delegate(protected, app_fetch)
puppy_delegate(app_fetch)
puppy_delegate_role(protected, protected, app_fetch)
puppy_delegate_database(app_fetch)
puppy_delegate_hostname(app_fetch)
puppy_delegate_console(app_fetch)

############################################################################
### Policy for `app_list`.
############################################################################

puppy_sudo_delegate(protected, app_list)
puppy_delegate(app_list)
puppy_delegate_role(protected, protected, app_list)
puppy_delegate_database(app_list)
puppy_delegate_hostname(app_list)

############################################################################
### Policy for `db_fetch`.
############################################################################

puppy_sudo_delegate(protected, db_fetch)
puppy_delegate(db_fetch)
puppy_delegate_role(protected, protected, db_fetch)
puppy_delegate_database(db_fetch)
puppy_delegate_hostname(db_fetch)
puppy_delegate_console(db_fetch)

############################################################################
### Policy for `db_list`.
############################################################################

puppy_sudo_delegate(protected, db_list)
puppy_delegate(db_list)
puppy_delegate_role(protected, protected, db_list)
puppy_delegate_database(db_list)
puppy_delegate_hostname(db_list)

gen_user(protected_u,, protected_r, s0, s0)
