policy_module(public, 1.1.2)

########################################
# Declarations

role public_r;          # The public role.
type public_exec_t;     # Use for both the sudoer and the actual command.
type public_agent_t;    # The public agent domain performes the actual work as the puppy user.

# This will create basic roll and the public_t. 
puppy_restricted_user_template(public)

role public_r types public_agent_t;


# Domain transition to the public angent domain.
domtrans_pattern(public_t, public_exec_t, public_agent_t)
application_domain(public_agent_t, public_exec_t)
allow public_t public_exec_t:lnk_file read;

# Temporary. TODO
files_type(public_exec_t)

# Execute the puppy sudoer program.
puppy_node_exec(public_agent_t)
allow public_agent_t public_exec_t:lnk_file read;

# Write piped output.
allow public_agent_t self:fifo_file rw_file_perms;

# Transition from public to puppy using sudo.
puppy_sudo_puppy(public)

logging_write_generic_logs(public_agent_t)
logging_send_syslog_msg(public_agent_t)

# Generate the puppy user.
gen_user(public_u,, public_r, s0, s0)
