## <summary></summary>

template(`puppy_public_private',`
    gen_require(`
        type delegate_t, public_sudo_t;
    ')
    type $1_exec_t;
    domtrans_pattern(public_sudo_t, $1_exec_t, delegate_t)
    allow delegate_t $1_exec_t:lnk_file read;
    application_domain(delegate_t, $1_exec_t)
')
