template(`puppy_restricted_user_template',`
	gen_require(`
		attribute unpriv_userdomain;
		attribute userdomain;
		class context contains;
		type user_home_t, user_home_dir_t;
		class context contains;
	')
	type $1_t, userdomain;
	domain_type($1_t)
	corecmd_shell_entry_type($1_t)
 	corecmd_bin_entry_type($1_t)
	domain_user_exemption_target($1_t)
	ubac_constrained($1_t)
	role $1_r types $1_t;
	allow system_r $1_r;
	allow $1_t self:process { signal_perms getsched setsched share getpgid setpgid setcap getsession getattr };
	allow $1_t self:fd use;
	allow $1_t self:fifo_file rw_fifo_file_perms;
	files_read_etc_files($1_t)
    corecmd_exec_shell($1_t)
    userdom_read_user_home_content_files($1_t)
	allow $1_t self:process ~{ setcurrent setexec setrlimit execmem execstack execheap };
	allow $1_t self:context contains;
	kernel_dontaudit_read_system_state($1_t)
	dev_read_urand($1_t)
	typeattribute $1_t unpriv_userdomain;
')
