# Includes policy for the puppy user, plus general policies that apply to the
# entire puppy environment, such as the SSH key types, node exec templates, etc.
policy_module(puppy, 1.0.0)

require {
    type ssh_exec_t;
    type ssh_home_t;
    class netlink_route_socket bind;
    class udp_socket connect;
}

# Declare mount point file types.
type puppy_t;               # The file type for the /puppy mount point.
type puppy_etc_t;           # The file type for the /puppy/etc mount point.
type puppy_bin_t;           # The file type for the /puppy/bin mount point.
type puppy_sbin_t;          # The file type for the /puppy/sbin mount point.
type puppy_lib_t;           # The file type for the /puppy/lib mount point.

type puppy_cache_t;

# Declare file types.
type puppy_func_t;          # The type of bash function scripts.

# Define mount point types.
files_mountpoint(puppy_t)
files_mountpoint(puppy_etc_t)
files_mountpoint(puppy_bin_t)
files_mountpoint(puppy_sbin_t)
files_mountpoint(puppy_lib_t)

# Define file types.
files_type(puppy_func_t)

# Use the puppy_cache_t file type in the var directory.
files_type(puppy_cache_t)
