# Policy module for the registered interface.
policy_module(registered, 1.0.0)

role registered_r;
role registered_r types registered_sudo_t;

userdom_unpriv_user_template(registered)

puppy_sudo(registered)

# The proxy needs to read Puppy executables.
puppy_read_puppy_bin(registered_t)
############################################################################
### Policy for `account_registered`.
############################################################################
#
registered_program(account_activated)

role registered_r types account_activated_t;

allow registered_t account_activated_exec_t:lnk_file { getattr read };
allow account_activated_t user_devpts_t:chr_file rw_term_perms;

gen_user(registered_u,, registered_r, s0, s0)
