# Policy module for private utilities.
#
# REMEMER: You can't use exec type, _exec_t,  in the file contexts until you
# declare a domain_trans_pattern or application_domain somewhere else in the
# policy with the exec type.
policy_module(system,1.0.0)

puppy_system(account_ready)
puppy_system(app_config)
puppy_system(app_reconfig)
puppy_system(app_users)
puppy_system(db_password)
puppy_system(mysql_config)
puppy_system(policy_ready)
puppy_system(policy_users)
puppy_system(port_list)
puppy_system(user_activation)
puppy_system(user_keys)
puppy_system(user_ready)
