[Unit]
Description=System Logging Service

[Service]
EnvironmentFile=-/etc/sysconfig/rsyslog
ExecStartPre=/bin/systemctl stop systemd-kmsg-syslogd.service
ExecStart=/sbin/rsyslogd -n $SYSLOGD_OPTIONS
ExecStartPost=/bin/chown root:loggers /dev/log
Sockets=syslog.socket

[Install]
WantedBy=multi-user.target
