[Unit]
Description=Puppy virtual hosts server.

[Service]
Environment=PATH=/opt/bin:/bin:/usr/bin NODE_PATH=/opt/lib/node_modules:/puppy/common/lib/node:/puppy/exclusive/lib/node
StandardOutput=syslog
StandardError=syslog
ExecStart=/puppy/vhosts/bin/vhosts_try

[Install]
WantedBy=multi-user.target
